.button {
    width: 25%;
    margin-top: 20px;
    color: honeydew;
    background-color: #1f1f1f;
    border: 1px solid honeydew;
    border-radius: 5px;
    transition: background 250ms ease-in-out, transform 150ms ease;
}

.button:hover {
    background-color: honeydew;
    color: #1f1f1f;
   
}