.modal {
    position: fixed;
    top: 30vh;
    left: 30%;
    width: 35%;
    z-index: 100;
    overflow: hidden;
    background-color: #1f1f1f;
}

.backdrop {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    height: 100vh;
    background: black;
}